html {
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
	background: url(./img/greenzen.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	}
body { 
	font: 75% georgia, sans-serif;
	color: #1b1915; 
    margin: 0; 
	}
p { 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: #ddb70b;
    text-shadow: 2px 2px #69491e;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #2d7ad3;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #512f79;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
    }
    
.intro { 
    text-justify: inherit;
	min-width: 100px;
	width: 100%;
	}

header h1 { 
    color: #69491e;
    text-shadow: 2px 2px #cf49b9 ;	
    font-size:  40px;
    text-align: center;
    }
    
header h2 { 
    color: #41341d
text-shadow: 1px 1px #d80f0f ;
text-align: center;
    }

.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

footer { 
	text-align: right; 
	}

.sidebar {
    display:inline-block;
    vertical-align: top;
    width: 100%;
    float: right;
	}
.sidebar .wrapper { 
    text-align: center;
    }
    
.main {
    background: url(./img/vier.png);
    background-repeat: no-repeat;
    background-size: 80% 550px;
    background-position: center; 
}

.sidebar ul {
    list-style-type: none;
    
	}

@media only screen and (min-width: 360) {
    /* For mobile: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  .design-selection {
    display: inline-block;
    float: center;
}
.design-archives {
    display: inline-block;
    float: center;
}

.zen-resources {
    display: inline-block;
    float: center;
}

#zen-intro{
       background: url(./img/swirl.png);
       background-repeat: no-repeat;
       background-position: top center;
    }